.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/dist
!THIRD-PARTY-LICENSES.md
**/preview.local.*
**/preview-live*
**/.env.local
**/.env.*.local
/e2e
**/__tests__
